.error {
  color: red;
  text-transform: capitalize;
}

.success {
  color: green;
  text-transform: capitalize;
}
.username {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  /* padding: 2em; */
  align-items: center;
  justify-content: center;
}

.userbutton {
  border-radius: 2%;
  transition-delay: 300;
}

.userbutton:hover {
  box-shadow: 0.5em 0.5em grey;
}

.buttoncontainer {
  margin-left: 0.5em;
  border-radius: 10%;
}
