* {
  font-family: Bradley Hand, cursive;
}

.form-label {
  text-transform: uppercase;
} 

.page-header {
  font-size: 3rem;
}

.side-image {
  height: 100vh;
}

.form-part{
  height: 100vh;
}

@media only screen and (max-width:720px) {
  .side-image{
    height: auto;
  }
  .form-part {
    height: fit-content;
  }
  .form.text {
    font-size: 2px;
  }
}